/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}
section h1 {
    margin-top: 60px; /* Ajusta este valor según tus necesidades */
    padding: 25px;
}

/* Espacio arriba para subtítulos dentro de secciones, como en "About Me" */
.about-me .subtitle {
    margin-top: 40px; /* Ajusta este valor según tus necesidades */
}

h1 {
    text-align: center;
    color: #00FFFF;
    margin-top: 20px;
    transition: color 0.3s ease;
}


h1:hover {
    color: #FFA500;
}

/* Encabezado */
header {
    background-color: #1f1f1f;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

/* Nueva sección con fondo */
.hero-section {
    background-image: url('Multimedia/FotoLinkedinPortafolio.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    animation: fadeIn 1.5s ease-in-out;
}

.hero-content {
    text-align: center;
    padding-bottom: 600px;
}

.hero-content h1 {
    font-size: 5em;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #000;
    text-shadow: 
        3px 3px 0 #00FFFF,  
        -3px -3px 0 #00FFFF,
        3px -3px 0 #00FFFF,
        -3px 3px 0 #00FFFF;
    transition: transform 0.3s ease;
}

.hero-content h1:hover {
    transform: scale(1.05);
}

.hero-content h4 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 25px;
    color: #FFA500; 
    text-shadow: 
        2px 2px 0 #000,  
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000;
}

.hero-content .btn {
    background-color: #000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-content .btn:hover {
    background-color: #FFA500;
    transform: scale(1.05);
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .hero-content {
        padding-bottom: 200px;
    }

    .hero-content h1 {
        font-size: 2.5em;
    }

    .hero-content h4 {
        font-size: 1.2em;
    }

    .hero-section {
        background-position: top center;
        background-size: cover;
    }
}

/* Sección de "Sobre Mí" */
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #1A1A1A; /* Fondo opcional para destacar la sección */
}

/* Sección de "Sobre Mí" */
.about-me img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.about-me img:hover {
    transform: scale(1.05);
}
.about-me p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    max-width: 800px; /* Ancho máximo para texto */
    margin: 0 auto; /* Centra el texto */
}

.subtitle {
    color: #00FFFF;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
}

/* Estilos para "Experiencia Laboral" */
.experience {
    max-width: 1000px; /* Limita el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px;
    background-color: #2B2B2B;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}

.experience .job {
    margin-bottom: 20px;
    padding: 20px; /* Aumenta el padding para mayor altura */
    background-color: #1A1A1A; /* Cambia el color de fondo de los trabajos */
    border-left: 5px solid #00FFFF;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en columna */
}

.experience .job:hover {
    background-color: #333333;
}

@media (max-width: 768px) {
    .experience {
        padding: 10px; /* Reduce el padding para adaptarse a pantallas pequeñas */
        max-width: 100%; /* Asegura que el ancho máximo sea del 100% */
    }

    .experience .job {
        padding: 15px; /* Ajusta el padding interno */
        margin-bottom: 15px; /* Reduce el espacio entre trabajos */
    }
}

.job-date {
    font-style: italic;
    color: #FFA500;
}

/* Proyectos */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    display: flex;
    flex-direction: row;
    background-color: #2B2B2B;
    padding: 20px;
    border: 1px solid #00FFFF;
    width: 100%;
    max-width: 600px;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

.project-card:hover {
    border-color: #FFA500;
    transform: scale(1.02);
}

.project-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}

.project-info {
    flex-grow: 1;
}

.project-info h4 {
    margin: 0;
    color: #00FFFF;
}

.project-info p {
    margin-top: 10px;
    color: #ffffff;
}

.project-info .btn {
    margin-top: 10px;
    background-color: #000;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-info .btn:hover {
    background-color: #FFA500;
    transform: scale(1.05);
}

/* Habilidades */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: #007bff;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.skill:hover {
    background-color: #0056b3;
}

/* Estilos para el video resumen */
.video-container {
    text-align: center;
    padding: 20px;
}

.video-container video {
    max-width: 80%;
    border: 3px solid #00FFFF;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.video-container video:hover {
    border-color: #FFA500;
}

/* Estilos para las secciones */
.grey-1 {
    background-color: #1A1A1A;
}

.grey-2 {
    background-color: #2B2B2B;
}

.grey-3 {
    background-color: #333333;
}

.grey-4 {
    background-color: #3C3C3C;
}

.grey-5 {
    background-color: #454545;
}

/* Contacto */
#contacto p {
    text-align: center;
}

/* Footer */
footer {
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
